/*********** font ***********/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Stylish&display=swap');
/* font-family: 'Roboto', sans-serif;*/

/*********** initialize ***********/
a:link, a:visited, a:active, a:hover {text-decoration: none; font: inherit; color: inherit;}
html, body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 0.95;
}

/*********** common ***********/
.w-100 {width: 100%;}

.all-wrapper {width: 100%;}

.header-wrapper {width: 100%; padding: 2em; background-color: rgb(255, 127, 92); text-align: center; font-weight: bold; }
.header-wrap { display: flex; justify-content: space-between; line-height: 1;}
.header-wrap .about > i{ font-size: 1.25em; cursor: pointer; color: #111; transition: all 0.3s;}
.header-wrap .about > i:hover {color: rgb(255, 251, 250);}

.footer-wrapper { width: 100%; padding: 2em; background-color: rgb(255, 127, 92); }
.footer-wrapper .copyright { text-align: center; font-weight: bold; line-height: 1; padding-top: 0.25em; }

.desc { line-height: 1.75; }

/*********** scarf ***********/
.scarf1 {background-color: antiquewhite; width: 100%; height: 700px; display: flex; align-items: center; padding: 10%;}
.scarf1 .img-wrap .img { width: 600px;}
.scarf1 .info-wrap { display: flex; flex-direction: column; padding: 2em; margin-left: 10em; }
.scarf1 .info-wrap > div { text-align: center; padding: 1em; }
.scarf1 .info-wrap > div:first-child { font-weight: bold; }


.scarf2 {background-color: rgb(206, 222, 224); width: 100%; height: 700px; display: flex; align-items: center; padding: 10%;}
.scarf2 .img-wrap .img { width: 600px;}
.scarf2 .info-wrap { display: flex; flex-direction: column; padding: 2em; margin-left: 10em; }
.scarf2 .info-wrap .img:last-child { opacity: 0; }
.scarf2 .info-wrap:hover .img:last-child { opacity: 1; }
.scarf2 .info-wrap > div { text-align: center; padding: 1em; }
.scarf2 .info-wrap > div:first-child { font-weight: bold; }


.scarf3 {background-color: rgb(202, 193, 182); width: 100%; height: 700px; display: flex; align-items: center; padding: 10%;}
.scarf3 .img-wrap .img { width: 600px;}
.scarf3 .info-wrap { display: flex; flex-direction: column; padding: 2em; margin-left: 10em; }
.scarf3 .info-wrap > div { text-align: center; padding: 1em; }
.scarf3 .info-wrap > div:first-child { font-weight: bold; }

.scarf4 {background-color: #d9d8dd; width: 100%; height: 700px; display: flex; align-items: center; padding: 10%;}
.scarf4 .img-wrap .img { width: 600px;}
.scarf4 .info-wrap { display: flex; flex-direction: column; padding: 2em; margin-left: 10em; }
.scarf4 .info-wrap > div { text-align: center; padding: 1em; }
.scarf4 .info-wrap > div:first-child { font-weight: bold; }


.scarf5 {background-color:#d7cdcc; width: 100%; height: 700px; display: flex; align-items: center; padding: 10%;}
.scarf5 .img-wrap .img { width: 600px;}
.scarf5 .info-wrap { display: flex; flex-direction: column; padding: 2em; margin-left: 10em; }
.scarf5 .info-wrap > div { text-align: center; padding: 1em; }
.scarf5 .info-wrap > div:first-child { font-weight: bold; }


.modal-wrapper { display: none; }


/*********** Responsive ***********/
@media screen and (max-width: 1199px) {
	
}

@media screen and (max-width: 991px) {
	.scarf1 { padding: 7%;}
	.scarf1 .img-wrap .img { width: 400px;}
	.scarf1 .info-wrap { padding: 1em; margin-left: 5em; }

	.scarf2 { padding: 7%;}
	.scarf2 .img-wrap .img { width: 400px;}
	.scarf2 .info-wrap { padding: 1em; margin-left: 5em; }

	.scarf3 { padding: 7%;}
	.scarf3 .img-wrap .img { width: 400px;}
	.scarf3 .info-wrap { padding: 1em; margin-left: 5em; }

	.scarf4 { padding: 7%;}
	.scarf4 .img-wrap .img { width: 400px;}
	.scarf4 .info-wrap { padding: 1em; margin-left: 5em; }

	.scarf5 { padding: 7%;}
	.scarf5 .img-wrap .img { width: 400px;}
	.scarf5 .info-wrap { padding: 1em; margin-left: 5em; }
}

@media screen and (max-width: 767px) {
	.scarf1 { padding: 5%;}
	.scarf1 .img-wrap .img { width: 350px; }
	.scarf1 .info-wrap { margin-left: 2.5em; }

	.scarf2 { padding: 5%;}
	.scarf2 .img-wrap .img { width: 350px; }
	.scarf2 .info-wrap { margin-left: 2.5em; }

	.scarf3 { padding: 5%;}
	.scarf3 .img-wrap .img { width: 350px; }
	.scarf3 .info-wrap { margin-left: 2.5em; }

	.scarf4 { padding: 5%;}
	.scarf4 .img-wrap .img { width: 350px; }
	.scarf4 .info-wrap { margin-left: 2.5em; }

	.scarf5 { padding: 5%;}
	.scarf5 .img-wrap .img { width: 350px; }
	.scarf5 .info-wrap { margin-left: 2.5em; }
}

@media screen and (max-width: 575px) {
	.scarf1 { flex-wrap: wrap; display: flex; flex-direction: column; height: 600px; padding-top: 4em;}
	.scarf1 .img-wrap .img { width: 300px;}
	.scarf1 .info-wrap { padding: 1em; margin-left: 0em;}

	.scarf2 { flex-wrap: wrap; display: flex; flex-direction: column; height: 600px; padding-top: 4em;}
	.scarf2 .img-wrap .img { width: 300px;}
	.scarf2 .info-wrap { padding: 1em; margin-left: 0em; }

	.scarf3 { flex-wrap: wrap; display: flex; flex-direction: column; height: 600px; padding-top: 4em;}
	.scarf3 .img-wrap .img { width: 300px;}
	.scarf3 .info-wrap { padding: 1em; margin-left: 0em; }

	.scarf4 { flex-wrap: wrap; display: flex; flex-direction: column; height: 600px; padding-top: 4em;}
	.scarf4 .img-wrap .img { width: 300px;}
	.scarf4 .info-wrap { padding: 1em; margin-left: 0em; }

	.scarf5 { flex-wrap: wrap; display: flex; flex-direction: column; height: 600px; padding-top: 4em;}
	.scarf5 .img-wrap .img { width: 300px;}
	.scarf5 .info-wrap { padding: 1em; margin-left: 0em; }
}